table {
  margin: 100px auto;
}

tr, td {
  border: 1px solid grey;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  background-color: #e1e1e1;
  color: #e1e1e1;
}

.alive {
  background-color: #ff5fa3;
  color: #ff5fa3;
}

input {
  padding: 10px;
  height: 50px;
  width: 70px;
}

#pause {
  height: 30px;
  width: 30px;
}

.paused {
  content: '||';
  font-weight: 800;
  color: red;
  background-color: lightgrey;
}

.unpaused {
  content: '';
  background-color: green;
}
