table {
  margin: 50px auto;
}

tr, td {
  border: 1px solid grey;
  height: 15px;
  width: 18px;
  padding: 0;
  margin: 0;
  background-color: #e1e1e1;
  color: #e1e1e1;
}

.alive {
  background-color: #ff5fa3;
  color: #ff5fa3;
}

input {
  padding: 10px;
  height: 50px;
  width: 70px;
}

#button-wrapper {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
  background-color: #e6e6e6;
  padding: 4px;
  border: 2px solid lightgrey;
}

.unpaused {
  margin: 4px auto;
  height: 30px;
  width: 7px;
  border-left: 10px solid #955;
  border-right: 10px solid #955;
}


.paused {
  margin-left: 5px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid green;
  border-right: 100px;
}

.controls {
  min-height: 60px;
}
